* {
  font-family: "Cinzel", serif;
}

.card-body {
  margin: 2px 0px 2px 0px;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.card-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  border: solid black 1px;
  padding: 5px;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif");
  border-radius: 10px;
  transform: scale(0.8) translateY(0px);
  transition: 1.5s;
  text-align: center;
}

.hand {
  border: solid white 1px;
  height: 220px;
  padding: 5px;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif");
  border-radius: 10px;
  transform: scale(0.8) translateY(0px);
  transition: 1.5s;
  text-align: center;
}

.card:hover {
  transform: scale(0.8) translateY(-30px);
  cursor: pointer;
  transition: 0.22s;
}

.hand:hover {
  transform: scale(0.8) translateY(-30px);
  cursor: pointer;
  transition: 0.22s;
}

.ice-img {
  width: 100%;
  border-radius: 10px;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.fire-img {
  width: 100%;
  border-radius: 10px;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.fist-icon {
  padding: 10px;
}

p {
  font-size: 12px;
}

.fire {
  background-color: rgba(255, 0, 0, 0.3);
  border: solid 1px rgba(255, 0, 0, 0.3);
  border: solid black 1px;
}

.ice {
  background-color: rgba(102, 153, 204, 0.3);
  border: solid 1px rgba(255, 255, 255, 0.5);
}
